.friend-item {
  display: flex;
  align-items: center;
  margin-top: 20px;
  animation: animationFriendItem 0.5s ease-in-out;

  .friend-item-image {
    width: 15%;
  
    img {
      width: 100%;
    }
  }

  .friend-item-descr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .friend-item-name-and-email {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
  
      .name {
        font-size: 15px;
      }
  
      .email {
        margin-top: 10px;
        font-size: 14px;
        opacity: 0.7;
      }
    }
  
    .friend-item-address {
      .city {
        font-size: 13px;
        opacity: 0.5;
      }
    }
  }
}

@keyframes animationFriendItem {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 2560px) { 
  .friend-item {
    .friend-item-descr {
      .friend-item-name-and-email {
        .name,.email {
          font-size: 15px;
        }
      }
      .friend-item-address {
        .city {
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .friend-item {
    .friend-item-descr {
      .friend-item-name-and-email {
        .name,.email {
          font-size: 15px;
        }
      }
      .friend-item-address {
        .city {
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .friend-item {
    .friend-item-image {
      img {
        width: 11vw;
      }
    }
    .friend-item-descr {
      flex-direction: column;
      align-items: start;
      .friend-item-name-and-email {
        .name,.email {
          margin-top: 0;
          font-size: 12px;
        }
      }
      .friend-item-address {
        .city {
          font-size: 12px;
          margin-left: 20px;
        }
      }
    }
  }
}